 section{
    padding: 4rem 0 2rem;
}
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: var(--main-color );
}
.home-text p{
    color: red;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--text-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 20px;
}
.btn:hover{
    background: red;
} 
.home-img{
    float: right;
    width: 60%;
    height: 60%;
    margin-right: 20px;
}
